:root{

    --bg:#183028;
    --fg:#c5e86c;
}

html{


    box-sizing: border-box;
}

*,*::after,*::before{

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{

    min-height: 100vh;
    border: 1px solid red;
    display: flex;
    background-color: #cad2ca;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

aside{

    display: flex;
    background-color: var(--bg);
    color: azure;
    flex-basis: 25%;
    flex-direction: column;
    padding: 30px;
}

main{

    flex-basis: 75%;
    background-color: white;
}

.dashbord-bg{

    /* width: 1280px; */
    width: 65%;
    display: flex;
    height: 85vh;
    
}

.do-color{

    color: var(--fg);
}

.brand-label{

    font-size: 1.8rem;
}


.sidebar-header{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10pz; */
    gap: 20px;
    flex-basis: 10%;
    
}

ul>li{

    font-size: 0.8rem;
    list-style: none;
    line-height: 2;
    /* margin-top: 1px;
     */
    /* margin-bottom: 1px; */
    padding-left: 10px;
    padding-right: 10px;
}

ul>li:hover{

    background-color:var(--fg);
    color: var(--bg);
    padding: 10px;
}
