:root{

    --bg:#183028;
    --fg:#c5e86c;
}

html{


    box-sizing: border-box;
}

*,*::after,*::before{

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{

    min-height: 100vh;
    border: 1px solid red;
    display: flex;
    background-color: #cad2ca;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.align-vertical{

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.show-box{

    border: 1px solid red;
}

aside{

    display: flex;
    background-color: var(--bg);
    color: azure;
    flex-basis: 25%;
    flex-direction: column;
    padding: 30px;
}

main{

    /* flex-basis: 75%; */
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding: 15px;

}

/* top nav start */
.top-nav{

    flex-basis: 8%;
    /* background-color: #8bad35; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    
}

.search>input{

    border: none;
}

.search>i{

    color: #7e8c88;
}
.top-nav>h1{

    flex: 1;
    font-size: 1.5rem;
    font-weight: 400;
}

.top-nav>button{

    display: flex;
    background-color: var(--bg);
    color: white;
    padding: 0px 10px;
    justify-content: center ; 
    align-items: center;
    border: none;
    gap: 15px; 
}
.top-nav>div,button{

    /* background-color: red; */
    height: 45px;

}

.top-nav>div{

    border: 2px solid #ebedec;
    border-radius: 2px;
}


/* bell icon */
.bell-boder{

    
    
    /* border-radius: 10%; */
    /* padding: 8px 10px;  */
    color: #7e8c88;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* top nav end  
----------------------------*/

/* botton-nav start */
.botton-nav{

    flex-basis: 8%;
    background-color: white;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    margin-top: 25px;
}

.botton-nav>ul{

    flex: 1;
    gap: 20px;
    margin-top: 10px;
}

.botton-nav>ul>li{

    padding-bottom: 8px;
}

.botton-nav>ul>li:first-child{

    border-bottom: var(--bg) 3px solid;
}

/* botton-nav End
-------------------------------- */

/* beginnin of debit card */
.debit-card{
    display: flex;
    align-items: center;
    flex-basis: 30%;
    /* background-color: #707070; */
    gap: 10px;
}

.visa-card{
    display: flex;
    width: 250px;
    height: 140px;
    border-radius: 10px;
    color: var();
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.visa-card>h1:first-child{

    align-self: flex-end;
    text-transform: uppercase;
    transform: skewX(-15deg);
}

.visa-card>h1>span{

    text-transform: capitalize;
    font-size: 1rem;
}

.card-selected{

    background-color: var(--fg);
}

.card-unselected{

    background-color: #e8eae9;
}
/* End of debit card 
--------------------------------*/


.transactions{

    flex:1;
    background-color: #ddffcb;
}

.dashbord-bg{

    /* width: 1280px; */
    width: 65%;
    display: flex;
    height: 85vh;
    
}

.do-color{

    color: var(--fg);
}

.brand-label{

    font-size: 1.8rem;
}


.sidebar-header{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10pz; */
    gap: 20px;
    flex-basis: 10%;
    
}

aside>ul>li{

    font-size: 0.8rem;
    list-style: none;
    line-height: 2;
    /* margin-top: 1px;
     */
    /* margin-bottom: 1px; */
    padding-left: 10px;
    padding-right: 10px;
}

aside>ul>li:hover{

    background-color:var(--fg);
    color: var(--bg);
    padding: 10px;
}

li>i{

    padding-right: 10px;
}

li{

    list-style: none;
}



