
*{
    padding: 0;
    margin: 0;
}

body{

    background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas{

    width: 400px;
    height: 400px;
    background-color: white;
}

.flexBox-1{

    display: flex;
    background-color: black;
    flex-direction: column;
    /* height: 100px; */
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* flex-wrap: wrap; */

}

.flexBox-2{


    display: flex;
    background-color: black;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;

}

.box{

    width: 50px;
    height: 50px;
    background-color: blueviolet;
    /* margin: 10px; */
    
}

.flexitem-1{
    background-color: azure;

}

.flexitem-5{

    flex-grow: 1;
}

.flexitem-4{

    align-self: flex-end;
    flex-basis: 50%;
}